# Q2.

In [ ]:
import pandas as pd
import scipy
import numpy as np
from scipy import stats

In [4]:
data=pd.read_csv("LabTAT.csv")

In [5]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [13]:
Lab1=data['Laboratory 1']
Lab2=data['Laboratory 2']
Lab3=data['Laboratory 3']
Lab4=data['Laboratory 4']

In [24]:
import scipy.stats as stats
fvalue,pvalue = stats.f_oneway(data['Laboratory 1'],data['Laboratory 2'],data['Laboratory 3'],data['Laboratory 4'])

In [26]:
print("F value is",fvalue,"and","P value is" ,pvalue)

F value is 118.70421654401437 and P value is 2.1156708949992414e-57

# Conclusion 
#Here p value is less than 0.05. Hence we reject null hypothesis

# This implies that TAT foe at least one lab is diff