# Q3

In [1]:
import pandas as pd 
import scipy
import numpy as np
from scipy import stats

In [2]:
df=pd.read_csv("BuyerRatio.csv")

In [3]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
df.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [7]:
Males=[50,142,131,70]
Females=[435,1523,1356,750]
Sales=[Males,Females]
print(Sales)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [8]:
chistats = stats.chi2_contingency(Sales)
print('Test t=%f p-values=%f'%(chistats[0],chistats[1]))
print('Interpret by p-value')
if chistats[1]<0.5:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Test t=1.595946 p-values=0.660309
Interpret by p-value
Accept null hypothesis

### Here P-value > 0.05 Hence we accept H0 at 5% L.O.S & We conclude that proportion of male and female are equal.