# Q4.

In [1]:
import pandas as pd
import scipy
import numpy as np
from scipy import stats

In [2]:
df=pd.read_csv("CostomerOrderForm.csv")

In [3]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
df1=pd.get_dummies(df, columns=df.columns)

In [6]:
df1.head()

,Phillippines_Defective,Phillippines_Error Free,Indonesia_Defective,Indonesia_Error Free,Malta_Defective,Malta_Error Free,India_Defective,India_Error Free
0,0,1,0,1,1,0,0,1
1,0,1,0,1,0,1,1,0
2,0,1,1,0,1,0,0,1
3,0,1,0,1,0,1,0,1
4,0,1,0,1,1,0,0,1

In [7]:
df1.describe()

,Phillippines_Defective,Phillippines_Error Free,Indonesia_Defective,Indonesia_Error Free,Malta_Defective,Malta_Error Free,India_Defective,India_Error Free
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,0.096667,0.903333,0.110000,0.890000,0.103333,0.896667,0.066667,0.933333
std,0.295997,0.295997,0.313413,0.313413,0.304902,0.304902,0.249861,0.249861
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
50%,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
75%,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
Ph=df["Phillippines"].replace({"Error Free": "1", "Defective": "0"})
Indo=df["Indonesia"].replace({"Error Free": "1", "Defective": "0"})
Ma=df["Malta"].replace({"Error Free": "1", "Defective": "0"})
Ind=df["India"].replace({"Error Free": "1", "Defective": "0"})

In [9]:
chiStats = stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))

Test t=3.858961 p-value=0.277102

H0:The defective % are not varies by centre

H1:The defective % varies by centre

In [10]:
pvalue=0.2776780955705948
if pvalue<.05:
    print("We are rejecting null hypothesis")
else:
    print("We are accepting null hypothesis")

We are accepting null hypothesis

### p Value> 0.05 Hence we accept H0 at 5% L.O.S & we conclude that There is no defective % varies by center.