In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [3]:
claimants=pd.read_csv("claimants.csv")
claimants.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [4]:
claimants.drop(["CASENUM"],inplace=True,axis=1)

In [5]:
claimants.shape

(1340, 6)

In [6]:
claimants=claimants.dropna()
claimants.shape

(1096, 6)

In [7]:
x=claimants.iloc[:,1:]
y=claimants.iloc[:,0]

In [8]:
classifier=LogisticRegression()
classifier.fit(x,y)

LogisticRegression()

In [9]:
y_pred=classifier.predict(x)

In [10]:
y_pred_df=pd.DataFrame({'actual':y,'predicted_prob':classifier.predict(x)})

In [12]:
y_pred_df

      actual  predicted_prob
0          0               0
1          1               1
2          1               1
3          0               0
4          1               1
...      ...             ...
1334       1               1
1336       0               0
1337       1               1
1338       0               0
1339       1               1

[1096 rows x 2 columns]

In [18]:
from sklearn.metrics import confusion_matrix
confusion_matrix=confusion_matrix(y,y_pred)
print(confusion_matrix)

[[381 197]
 [123 395]]

In [20]:
((381+395)/(381+197+123+395))*100

70.8029197080292